.homePage {
  position: relative;
  margin: rem(20) 0;
}

.homeBody {
  min-height: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  row-gap: 12px;
  @media (max-width: $mobile) {
    align-items: stretch;
  }
}

.searchButton {
  position: absolute;
  top: -59px;
  right: 0;
  opacity: 0.1;
  &:hover {
    opacity: 1;
  }
}

.list {
  min-height: 80vh;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(32);
  font-weight: 700;
  color: #fff;
  background-color: rgba($color: #000000, $alpha: 0.3);
  text-shadow: 3px 3px 2px rgba(18, 84, 128, 1);
  width: 100vw;
  height: 100vh;
}
