.button {
  padding: 4px 12px;
  border-radius: 8px;
  border: 1px solid cadetblue;
  transition: all ease 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: cadetblue;
  color: #fff;
  transition: all ease 0.3s;
}

.button:active {
  background-color: rgb(113, 187, 189);
  border: 1px solid rgb(113, 187, 189);
}
